<mat-progress-bar *ngIf="!ready" mode="indeterminate"></mat-progress-bar>

<div class="maincontainer">
    <div class="leftcolumn">
        <segment-list [segments]="segments"></segment-list>
    </div>


    <div class="contentwrapper" *ngIf="ready && segmentAdd">

        <div class="modelParent no-overflow">
            <mat-form-field class="segmentNameInput">
                <mat-label>Segment Name</mat-label>
                <input required matInput placeholder="Please enter a segment name" [(ngModel)]="segmentName">
                <mat-error>
                    Please enter a unique segment name
                </mat-error>
            </mat-form-field>

            <mat-form-field class="segmentNameInput">
                <mat-label>Segment Description</mat-label>
                <input matInput placeholder="Please enter a segment description" [(ngModel)]="segmentDescription">
            </mat-form-field>

            <mat-button-toggle-group (click)="modelTypeChanged()" [(ngModel)]="modelGroup" name="modelGroupToggle"
                class="modelButtonGroup">
                <mat-button-toggle value={{oneGroup}} class="modelButton">1 Step</mat-button-toggle>
                <mat-button-toggle value={{nGroup}} class="modelButton">N-step</mat-button-toggle>
                <mat-button-toggle value={{ensembleGroup}} class="modelButton">Ensemble</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-form-field *ngIf="isNStep()" class="segmentNameInput">
                <mat-label>Parent Model Name</mat-label>
                <input matInput placeholder="Please enter a parent model name" [(ngModel)]="parentModelName">
            </mat-form-field>

            <!-- <mat-input placeholder="Please enter a segment name" [(ngModel)]="segmentName" required></mat-input> -->
            <form *ngIf="form && modelGroup && steps?.length>0" [formGroup]="form" (ngSubmit)="saveSegment()">
                <mat-vertical-stepper linear labelPosition="bottom" #stepper (selectionChange)="onStepChange($event)">
                    <ng-template matStepperIcon="edit">
                        <mat-icon>check</mat-icon>
                    </ng-template>
                    <mat-step *ngFor="let step of steps; let index = index; let last = last;"
                        [stepControl]="form?.at(index)">
                        <ng-template matStepLabel>{{step.model.modelName || 'Model '+ (index + 1)}}
                            <mat-icon class="stepper-icon" (click)="removeStep(index)">delete</mat-icon>
                        </ng-template>

                        <!-- <ng-template matStepLabel>{{ step.label }}</ng-template> -->
                        <formly-form [form]="form.at(index)" [model]="step.model" [fields]="step.fields"
                            [options]="options[index]">
                        </formly-form>

                        <div class="stepperButtonWrapper">
                            <button mat-button *ngIf="index !== 0" matStepperPrevious type="button"
                                (click)="prevStep(index)">Back</button>
                            <button mat-button *ngIf="!last" matStepperNext type="button"
                                [disabled]="form && form.at(index) && !form.at(index).valid"
                                (click)="nextStep(index)">Next</button>
                            <button mat-button type="submit" *ngIf="last"
                                [disabled]="form && form.at(index) && !form.at(index).valid">Submit</button>
                        </div>
                    </mat-step>
                    <mat-step *ngIf="!isOneStep()">
                        <ng-template [ngClass]="getStepperHeaderClass()" matStepLabel> Add Model
                            <mat-icon class="stepper-icon" (click)="addModel()">
                                add_to_queue</mat-icon>
                        </ng-template>
                    </mat-step>
                </mat-vertical-stepper>
            </form>
        </div>

    </div>


    <div class="contentwrapper" *ngIf="ready && segmentView">
        <segment-view [steps]="steps" [modelGroup]="modelGroup" [baseModels]="baseModels"
            [parentModelName]="parentModelName" [segmentName]="segmentName" [segmentDescription]="segmentDescription">
        </segment-view>
    </div>
</div>